<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>{{ title }}</title>
</head>
<body>
    <nav class="navbar is-fixed-top" role="navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
        </div>
        <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-item"><a href="{{ url_for('send_text') }}">Send a Text</a></div>
            <div class="navbar-item"><a href="{{ url_for('add_contact') }}">Add Contact</a></div>
            <div class="navbar-item"><a href="{{ url_for('home') }}">Home</a></div>

        </div>
    </nav>
    <br><br><br>
    <form method="POST" action="{{ url_for('add_contact') }}" class="container">
        {{ form.csrf_token }}
        <div class="columns">
            <div class="column">            
                <label class="label">{{ form.cfirstname.label }}</label>
                <div class="control">
                    {{ form.cfirstname(class="input") }}
                </div>
            </div>
            <div class="column">
                <label class="label">{{ form.clastname.label }}</label>
                <div class="control">
                    {{ form.clastname(class="input") }}
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <label class="label">{{ form.caddress1.label }}</label>
                <div class="control">
                    {{ form.caddress1(class="input") }}
                </div>
            </div>
            <div class="column">
                <label class="label">{{ form.caddress2.label }}</label>
                <div class="control">
                    {{ form.caddress2(class="input") }}
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <label class="label">{{ form.ccity.label }}</label>
                <div class="control">
                    {{ form.ccity(class="input") }}
                </div>
            </div>
            <div class="column">
                <label class="label">{{ form.cstate.label }}</label>
                <div class="control">
                    {{ form.cstate(class="input") }}
                </div>
            </div>
            <div class="column">
                <label class="label">{{ form.czip.label }}</label>
                <div class="control">
                    {{ form.czip(class="input") }}
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <label class="label">{{ form.chomearea.label }}</label>
                <div class="control">
                    {{ form.chomearea(class="input") }}
                </div>
            </div>
            <div class="column">
                <label class="label">{{ form.chomephone.label }}</label>
                <div class="control">
                    {{ form.chomephone(class="input") }}
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <label class="label">{{ form.dbday.label }}</label>
                <div class="control">
                    {{ form.dbday(class="input") }}
                </div>
            </div>
            <div class="column">
                <label class="label">{{ form.cemail.label }}</label>
                <div class="control">
                    {{ form.cemail(class="input") }}
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <label class="label">{{ form.ccellarea.label }}</label>
                <div class="control">
                    {{ form.ccellarea(class="input") }}
                </div>
            </div>
            <div class="column">
                <label class="label">{{ form.ccellphone.label }}</label>
                <div class="control">
                    {{ form.ccellphone(class="input") }}
                </div>
            </div>
        </div>
        
        
        <input type="submit" value="submit" class="button is-primary">
    </form>
    <script src="/static/javascript/navbar.js"></script>
</body>
</html>