<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Home</title>
</head>
<body>
    <nav class="navbar is-fixed-top" role="navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
        </div>
        <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-item"><a href="{{ url_for('send_text') }}">Send a Text</a></div>
            <div class="navbar-item"><a href="{{ url_for('add_contact') }}">Add Contact</a></div>
            <div class="navbar-item"><a href="{{ url_for('home') }}">Home</a></div>

        </div>
    </nav>
    <br><br><br>
    <div class="home-content container">
        <h1 class="is-large">Basic Text Message Service</h1>
        <p>This project is going to send text messages to clients stored in an airtable database. To be used by a fitness client looking to expand they&#39;re marketing reach into different areas. Since it is an MVP I decidied to use really simple tools. For example my backend was written using Flask. No authentication or anything, just like if you have the link you can send texts. Currently uses Airtable for DB</p>
        <h1 id="tools" class="is-large">Tools</h1>
        <ul>
            <li><i class="fa fa-route"></i> Flask - Routing</li>
            <li><i class="fas fa-align-justify"></i> Flask WTForms - Forms</li>
            <li><i class="fas fa-comment-alt"></i> Twilio - Sending SMS</li>
            <li><i class="fas fa-database"></i> Airtable - Database</li>
            <li><i class="fab fa-css3"></i> Bulma - CSS Framework</li>
            <li><i class="fab fa-sass"></i> SASS - CSS Preprocessing</li>
        </ul>
        <h1 class="is-large">Extensions</h1>
        <p>I will secure it with a password for the users and save messages that have been sent. Also give it some style and stuff would be smart
        Make it a Django project so I can add authentication and stuff.</p>
    </div>

    <script src="/static/javascript/navbar.js"></script>
</body>
</html>