// @import url('')

$camel: #e1b382;
$camelShadow: #c89666;
$nightBlue: #2d545e;
$nightBlueShadow: #12343b;
$lightAccent: #fff9d9;

$primary: $nightBlue;
html{
    background-color: $camelShadow;
}
html {
    font-size: 16px;
    // @include tablet {
    //   font-size: 16px;
    // }
    // @include desktop {
    //   font-size: 20px;
    // }
  }
.navbar {
    background-color: $nightBlue;
    color: $camel;
}
p {
    color: $nightBlue;
}
a {
    color: $nightBlueShadow;
}
a:hover {
    color: $lightAccent;
}
.navbar a {
    color: $camel;
}
div.container {
    background-color: $camel;
}
h1 {
    color: $nightBlue;
}
input .button{
    color: $camel;
    background-color: $nightBlue;
}
button {
    background-color: $nightBlue;
}
.hero {
    background-color: $camel;
}
.card{
    background-color: $nightBlue;
}
.card p {
    color: $camel;
}